/* Write your CSS here */
.bg {
  display: flex;
}
.bg-events {
  background-color: #323f4b;
  padding: 2%;
  width: 65vw;
}
.heading {
  font-family: 'Roboto';
  color: #f8fafc;
}
.list-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}
